html {
  font-size: 18px;
  color: white;
  font-family: helvetica, sans-serif;
}

body{

}

header{
  display: block;
  align-content: center;
  background-color: black;
}

.container{
  max-width: 53.3rem;
  margin: auto;

}

header img {
  height: 1.5rem;
  padding-top: 0.66rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.66rem;
}

.main{
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.newarrivaltext{
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  font-weight: bold;
  position: relative;
}

.newarrivaltext h1{
  font-size: 2rem;
}

.navigation{
    background-color: firebrick;
    width: 100%;
    text-align: center;
}


.displaynav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.displaynav nav a {
  padding: 0.75rem 0rem;
  color: white;
  text-decoration: none;
}

.mobilenav nav {
  display: inline-block;
  justify-content: center;
  padding: 0.75rem 0rem;

}

.mobilenav nav a {

  color: white;
  text-decoration: none;
}


.productline{
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: space-between;
  flex-grow:
}

.product{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 15rem;
  text-align: center;
  border: 4px solid black;
}

.productg{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 15rem;
  text-align: center;
  border: 4px solid black;
}

.productw{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 15rem;
  text-align: center;
  border: 4px solid black;
}



.image {
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img{
  height: 9rem;
}

.image .glasses{
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image .glasses img{
  height: 5rem;
}

.text{
  background-color: black;
  color: white;
  padding: 0.5rem;
}

.info{
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.info h4{
  background-color: black;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.infotitle{
  width: 35%;
}

.info span{
  color: black;
}

footer {
  padding: 2.5rem 0rem;
  background-color: black;
}

@media only screen and (max-width: 1024px) {
  .displaynav{
    display: none;
  }

  .productg{
  display: none;
  }

  .product, .productw {
    width: 47%;
  }

  .container{
    max-width: 56.89rem;
    margin: auto;
  }


}

@media only screen and (min-width: 1024px) {
  .mobilenav{
    display: none;
  }
}

@media only screen and (max-width: 470px) {

  .main{
    height: 15rem;
  }

  .newarrivaltext{
    width: 100%;
    padding: 1rem 2rem;
    top: 10rem;
  }

  .newarrivaltext h1{
    font-size: 1rem;
  }

  .newarrivaltext p{
    font-size: 0.77rem;
  }

  .productw{
  display: none;
  }

  .product{
    width: 90%;
  }

  .productline{
    justify-content: center;
  }

  footer .container{
    text-align: center;
  }

  .container{
    max-width: 26.1rem;
    margin: auto;
  }

  .info{
      display: flex;
      flex-direction: column;
      padding-bottom: 4rem;
      align-items: center;
    }

    .infotitle{
      width: 90%;
      margin: 0.5rem;
    }


}
